@{
	Layout = "_AdminLayout";
}
<html>
<head>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">*@
</head>

<body>
	<h1 class="d-flex justify-content-center">List Employee</h1>
	<div id="plus"></div>

	<table id="myTable" class="table table-hover table-striped">
		<thead class="table-dark">
			<tr>
				<th>No</th>
				<th>NIK</th>
				<th>Nama</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="tbodyEmployee">
		</tbody>
	</table>

	<!-- Modal Detail -->
	<div class="modal fade" id="modalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modalLabelDetail">Detail</h1>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Insert -->
	<div class="modal fade" id="modalInsert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modalLabelInsert">Insert Data</h1>
				</div>
				<div class="modal-body" id="modalBodyInsert">
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" id="employee">Submit</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Edit -->
	@*<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modalLabelEdit">Edit Data</h1>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>*@

	<!-- Modal Delete -->
	@*<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="modalLabelDelete">Delete Data</h1>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>*@
</body>
</html>

@section Scripts{
	@*<script src="~\lib\bootstrap\dist\js\bootstrap.min.js" asp-append-version="true"></script>*@
	<script src="~/js/employee.js" asp-append-version="true"></script>
}